@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);

@import 'font-awesome.min.css';
@import 'bootstrap.min.css';

.navbar {
  background-color: #2F343A;
  .navbar-brand {
    color: #BDB69C;
  }
}

body {
  background-color: #DDDDDD;
}

#app {
  text-align: "center";
  width: 100%;
  height: 100%;
}

#wait {

}
