@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
.navbar {
  background-color: #2F343A;
}
.navbar .navbar-brand {
  padding-left: 50%;
  color: #BDB69C;
}

body {
  background-color: #DDDDDD;
}

#app {
  text-align: "center";
  width: 100%;
  height: 100%;
}

#song-list {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#wait {
  margin: -3% 16%;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #fff;
  border-right: 6px solid #FDAA8F;
  border-top: 6px solid #FDAA8F;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: spin 1.2s infinite ease;
          animation: spin 1.2s infinite ease;
}

@-webkit-keyframes "spin" {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes "spin" {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
ul {
  padding-left: 0;
  list-style: none;
}
