<!DOCTYPE html> 
<html> 
 
  <head> 
    <title>Backbone Demo: Todos</title> 
    <link href="static/todo.css" media="all" rel="stylesheet" type="text/css"/> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script src="static/backbone.js"></script> 
  </head> 
 
  <body> 

    <div id="content">
      {% block content %}
      {% endblock %}
    </div
 
  </body> 
 
</html>
