<!DOCTYPE html> 
<html> 
  <head> 
    <title>Stocks</title> 

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script src="../static/js/backbone.js"></script> 
    <script src="../static/js/songrequest.js"></script> 
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" media="all">
  </head> 

  <body> 
    <div class="text-left container-fluid">
      <h1>Stock Hist</h1>
    </div>
    <div id="app" class="container"> 
      <ul id="song-list">
      </ul>
      <div id="new-stock">
        <input id="asdf" type="text" name="Artist" value="" /><br />
      </div>
    </div>
  </body> 
</html>
