<!DOCTYPE html>
<html>

<head>
	<title>User Manager</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

	<style>
		.bold {
			font-weight:bold;
		}

		.margin-top-20 {
			margin-top:20px;
		}
	</style>
</head>

<body>

<div class="container">
	<h1>User Manager</h1>

	<div>
		<a href="#" class="btn btn-primary" data-target="#add-user-modal" data-toggle="modal">Add User</a>
	</div>
</div>

<div class="container margin-top-20">
	<table class="table striped">
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Role</th>
			<th>Username</th>
			<th>Action</th>
		</thead>

		<tbody>
			<tr>
				<td>
					Arun
				</td>
				<td>
					Sood
				</td>
				<td>
					Instructor
				</td>
				<td>
					arsood
				</td>
				<td>
					<a href="#" class="btn btn-primary">Edit</a>
				</td>
			</tr>
      <% for(var i in allUsers) { %>
      <tr>
        <td>
          <%= allUsers[i].firstname %>
        </td>
        <td>
          <%= allUsers[i].lastname %>
        </td>
        <td>
          <%= allUsers[i].role %>
        </td>
        <td>
          <%= allUsers[i].id %>
        </td>
				<td>
					<a href="#" class="btn btn-primary">Edit</a>
				</td>
      </tr>
      <% } %>
		</tbody>
	</table>
</div>

<form method="POST" action="/">
<div id="add-user-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add a Book</h4>
			</div>
			<div class="modal-body">
				<div class="bold">
					First Name
				</div>
				<div class="margin-top-20">
					<input name="firstname" type="text" class="form-control" placeholder="First Name" />
				</div>
				<div class="bold margin-top-20">
					Last Name
				</div>
				<div class="margin-top-20">
					<input name="lastname" type="text" class="form-control" placeholder="Last Name" />
				</div>
				<div class="bold margin-top-20">
					Role
				</div>
				<div class="margin-top-20">
					<input name="role" type="text" class="form-control" placeholder="Role" />
				</div>
				<div class="bold margin-top-20">
					Username
				</div>
				<div class="margin-top-20">
					<input name="username" type="text" class="form-control" placeholder="Username" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save User</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</body>

</html>
