<!DOCTYPE html> 
<html> 
  <head> 
    <title>Stocks</title> 

    <link href="static/todo.css" media="all" rel="stylesheet" type="text/css"/> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
    <script src="static/backbone.js"></script> 
    <script src="static/songrequest.js"></script> 
  </head> 

  <body> 
    <div id="app" class="container"> 
      <ul id="song-list">
      </ul>
      <div id="new-song">
        <input id="asdf" type="text" name="Artist" value="Barney Rubble" /><br />
        <input type="text" name="Title" value="Neighbor" /><br />
      </div>
    </div>
  </body> 
</html>
